:root {
  --row-height-short: 300px;
  --row-height-tall: 400px;
  --row-height-heading: 50px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  margin: 0;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav .nav-item {
  border-bottom: 4px;
  border-style: solid;
  border-color: black;
  background-color: orange;
  text-decoration: none;
  padding: 2px;
  border-radius: 20%;
  box-shadow: 2.5px 5px #888888;
  transition: box-shadow 0.2s;
}

.nav-item:active {
  box-shadow: 0.2px 0.4px #888888;
  border-style: solid;
  border-color: black;
}

.flex-container {
  display: flex;
  justify-content: center;
}

#work {
  border: 0px;
  border-left: 2px;
  border-color: black;
  border-style: solid;
  padding-left: 20px;
  display: grid;
  width: 75%;
}
@media (max-width: 480px) {
  #work {
    grid-template-columns: auto;
    grid-template-rows:
      var(--row-height-heading) var(--row-height-short) var(--row-height-short)
      var(--row-height-short) var(--row-height-short) var(--row-height-short);
    grid-template-areas:
      "heading"
      "proj1"
      "proj2"
      "proj3"
      "proj4"
      "proj5";
  }
}

@media (min-width: 480px) {
  #work {
    grid-template-columns: auto auto;
    grid-template-rows:
      var(--row-height-heading) var(--row-height-tall) var(--row-height-short)
      var(--row-height-short);
    grid-template-areas:
      "heading heading"
      "proj1 proj1"
      "proj2 proj3"
      "proj4 proj5";
  }
}

#work h2 {
  grid-area: heading;
  margin: 10px;
}

.work-example {
  border: 1px;
  border-color: aqua;
  border-style: solid;
  position: relative;
  filter: blur(6px);
  transition-property: filter;
  transition-duration: 1s;
}
.work-example img {
  width: 100%;
  height: 100%;
}

.work-example:hover {
  filter: blur(0px);
}

.work-example h3 {
  background-color: aqua;
  position: absolute;
  top: 125px;
  border: 1px;
  border-color: black;
  border-style: solid;
}

#proj2,
#proj3,
#proj4,
#proj5 {
  background-size: 100% var(--row-height-short);
}

#proj1 {
  grid-area: proj1;
  background-size: 100% var(--row-height-tall);
}

#proj2 {
  grid-area: proj2;
}

#proj3 {
  grid-area: proj3;
}

#proj4 {
  grid-area: proj4;
}

#proj5 {
  grid-area: proj5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: aquamarine;
}

header h1 {
  border-style: solid;
  background-color: aqua;
  border-color: black;
  z-index: 1;
}

#hero-image {
  width: 100%;
  height: 100px;
  background-image: url("../images/02-hero-bg.jpg");
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#hero-image h2 {
  margin: 55px;
  border: 10px;
  padding: 10px;
  color: black;
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  z-index: 1;
}
