* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav .nav-item {
  border-bottom: 4px;
  border-style: solid;
  border-color: black;
  background-color: orange;
  text-decoration: none;
  padding: 2px;
  border-radius: 20%;
  box-shadow: 2.5px 5px #888888;
  transition: box-shadow 0.2s;
}

.nav-item:active {
  box-shadow: 0.2px 0.4px #888888;
  border-style: solid;
  border-color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: aquamarine;
}

header h1 {
  border-style: solid;
  background-color: aqua;
  border-color: black;
  z-index: 1;
}
